@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
}
/*  Header  */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
}
.logo{
    width: 150px;
}
.hero{
    padding-top: 100px;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: center;
	background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	padding-bottom: 50px;
}
.hero__left{
    text-align: center;
    padding: 50px;
    width: 100%;
}
.hero__title{
    text-transform: uppercase;
    max-width: 200px;
    margin: 0 auto;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.hero__title span{
    color: hsl(0, 93%, 68%);
    font-weight: 300;
}
.hero__text{
    color: hsl(0, 36%, 70%);
    max-width: 350px;
    margin-bottom: 40px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero__right{
    background-image: url(images/hero-mobile.jpg); 
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
/*subscription*/
.subscription{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 50px;
    margin: 0 auto;

}
.add-email{
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	outline: none;
	border: 1px solid hsl(0, 36%, 70%);
	height: 100%;
	border-radius: 50px;
	padding-left: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
}
.submit-email{
    cursor: pointer;
	position: absolute;
	right: 0;
	border: none;
	outline: none;
	color: white;
	width: 70px;
	height: 100%;
	border-radius: 50px;
	background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	box-shadow: 0px 0px 18px 1px #f4aaab82;
	transition: .3s ease box-shadow;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.before-submit{
    width: 20%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .header {
		padding-left: 10%;
	}
	.hero{
		padding-top: 0;
		flex-direction: row;
		padding-bottom: 0;
	}
	.hero__right {
		width: 80%;
		height: 100vh;
		background-image: url(./images/hero-desktop.jpg);
	}
	.hero__left {
		padding-top: 28vh;
		width: 100%;
		height: 100vh;
		padding-left: 10%;
		background-image: url(./images/bg-pattern-desktop.svg);
		background-size: cover;
		background-position: center;
	}
	.hero__title {
		text-align: left;
		font-size: 5rem;
		line-height: 5.5rem;
        margin: 0;
	}
	.hero__text{
		margin-left: 0;
		text-align: left;
		font-size: 1.1rem;
        max-width: 400px;
	}
	.subscription {
		margin-left: 0;
	}
	.subscription button {
		width: 80px;
	}
}